---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
---

<Layout>
  <Header title="Code Jay"/>
  <Main></Main>
  <script>
    // Comunicación con el plugin
    window.parent.postMessage({ pluginMessage: "Hello from Astro!" }, "*");
  </script>
</Layout>
