---
import Tecnologias from "./Tecnologias.astro";




---


<footer class="bg-white p-3 w-full flex justify-center gap-4 items-center text-xs relative ">
    <div>
        <button class="bg-neutral-50 text-neutral-600 px-12 py-2 rounded-lg ring-1 ring-neutral-300 relative">Tecnologias</button>
        <Tecnologias></Tecnologias>
        
    </div>
    <div>
        <button class="bg-neutral-800 text-neutral-50 px-12 py-2 rounded-lg"><span>Generate</span></button>
    </div>
</footer>