<section class="bg-neutral-100 p-4  text-xl relative flex grow">
    <article>Codigo generado / frames seleccionados</article>
    <div class="absolute top-0 right-0 p-4">
        <svg width="32" height="32" viewBox="0 0 45 45" fill="none"  class="cursor-pointer">
            <rect width="45" height="45" rx="12" fill="#262626"/>
            <g clip-path="url(#clip0_5_116)">
            <path d="M15.8433 26.4475C15.5878 26.3018 15.3752 26.0912 15.2271 25.8371C15.0791 25.5829 15.0007 25.2942 15 25V16.6667C15 15.75 15.75 15 16.6667 15H25C25.625 15 25.965 15.3208 26.25 15.8333M18.3333 20.5558C18.3333 19.9664 18.5675 19.4011 18.9843 18.9843C19.4011 18.5675 19.9664 18.3333 20.5558 18.3333H27.7775C28.0694 18.3333 28.3584 18.3908 28.628 18.5025C28.8977 18.6142 29.1427 18.7779 29.349 18.9843C29.5554 19.1907 29.7191 19.4357 29.8308 19.7053C29.9425 19.975 30 20.264 30 20.5558V27.7775C30 28.0694 29.9425 28.3584 29.8308 28.628C29.7191 28.8977 29.5554 29.1427 29.349 29.349C29.1427 29.5554 28.8977 29.7191 28.628 29.8308C28.3584 29.9425 28.0694 30 27.7775 30H20.5558C20.264 30 19.975 29.9425 19.7053 29.8308C19.4357 29.7191 19.1907 29.5554 18.9843 29.349C18.7779 29.1427 18.6142 28.8977 18.5025 28.628C18.3908 28.3584 18.3333 28.0694 18.3333 27.7775V20.5558Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_5_116">
            <rect width="20" height="20" fill="white" transform="translate(12.5 12.5)"/>
            </clipPath>
            </defs>
            </svg>
            
    </div>
</section>