---
// Todavia no tenemos ningun contenido que capturar!💫
---

<section
  class="bg-neutral-100 p-4 text-xl relative flex grow flex-col overflow-clip"
>
  <!-- Contenedor para elementos seleccionados y preview-->
  <div id="selection-preview-container" class="flex flex-col mb-3">
    <h3 class="text-lg font-semibold mb-2 text-neutral-700">
      Selected Elements:
    </h3>
    <ul id="selected-layers-list" class="space-y-2">
      <li
        id="initial-selection-message"
        class="text-neutral-500 italic text-sm"
      >
        Select elements in Figma to see them here...
      </li>
    </ul>
  </div>

  <!-- Contenedor para código generado -->
  <div
    id="generated-code-container"
    class="hidden pb-4 flex flex-col flex-1 grow-[2] transition-all duration-200 transition-discrete min-h-96"
  >
    <div class="flex items-center justify-between mb-3">
      <h3
        id="generated-code-title"
        class="text-lg font-semibold text-neutral-700"
      >
        Generated Code:
      </h3>
    </div>
    <div
      id="generated-code-output"
      class="bg-neutral-50 z-30 text-neutral-700 p-4 rounded-sm grow overflow-auto text-sm font-mono whitespace-pre-wrap ring-[1.5px] relative"
    >
      <div
        id="copy-button-container"
        class="hidden absolute right-2 top-2 p-1 size-9 flex items-center justify-center z-20"
      >
        <button
          id="copy-code-button"
          class="p-2.5 text-figma-bg bg-neutral-800 rounded-lg hover:bg-neutral-700 transition-all duration-200 transition-discrete grid place-content-center"
        >
          <svg
            id="copy-icon"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-copy"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
            ></path><path
              d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
            ></path></svg
          >
        </button>
      </div>
      <pre
        id="text-output-code"
        class="absolute p-2.5 w-full h-full inset-0 top-0 bottom-0 right-0 left-0 whitespace-pre-wrap text-pretty">
      </pre>
    </div>
  </div>

  <!-- Botón de copiar código -->
</section>

<style>
  #selected-layers-list {
    max-height: 300px;
    overflow-y: auto;
  }

  #selection-preview-container {
    scrollbar-width: none;
  }

  #selected-layers-list li {
    padding: 2px 0;
  }
  /* #generated-code-output:empty::before {
    content: "Code will appear here once generated...";
    color: #9ca3af; /* text-gray-400 */
  /* font-style: italic; */
  /*} */

  #generated-code-output {
    /* padding: 8px; */
    scrollbar-color: #888aff #ffffff;
    scrollbar-width: thin;
  }

  #copy-code-button.animate-up {
    animation: upGet 1s 1 ease both alternate;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  @keyframes upGet {
    from,
    to {
      transform: scale(1) rotate(0);
    }

    50% {
      transform: scale(0.9) rotate(-5deg);
    }
  }
</style>
