<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Figma Plugin</title>
    <style is:global>
      /* Estilos base */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color-scheme: light dark;
        font-family: "Montserrat", sans-serif;
      }

      html,
      body {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
